$BLACK: #212121;
$PRIMARY_COLOR: #00fa00;
$PRIMARY_COLOR_OPAQUE: #00fa0080;
$WHITE: #fafafa;

.logout-menu {
  ul {
    background-color: $WHITE!important;

    li {
      &:hover {
        background-color: $PRIMARY_COLOR_OPAQUE!important;
      }
      i {
        margin-right: 10px!important;
        margin-left: 0!important;
        color: $BLACK!important;
      }
      .md-list-item-content {
        justify-content: flex-start!important;
        color: $BLACK!important;
      }
    }
  }
}
svg.material-design-icon__svg {
  margin-right: 5px;
}
button {
  &.gpr-custom-success {
    background-color: $BLACK!important;
    color: $WHITE!important;
    border: 1px solid $BLACK;
    .md-ripple {
      &::before {
        background-color: transparent!important;
      }
      &:hover {
        color: $PRIMARY_COLOR!important;
      }
    }
  }
}