@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: nunito-bold;
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
  font-family: nunito-italic;
  src: url(../fonts/Nunito/Nunito-Italic.ttf);
}
@font-face {
  font-family: oswald-medium;
  src: url(../fonts/Oswald/static/Oswald-Medium.ttf);
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fafafa;
  color: #212121;
  margin: 0;
  font-family: nunito;
  letter-spacing: 1.2px;
  font-size: 15px;
  overflow-x: hidden;
}
.app--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
  max-width: 1600px;
  min-height: calc(100vh - 108px);
}
.content--app {
  margin: 0 auto;
  display: flex;
  margin-top: 67px;
  margin-bottom: 250px;
  justify-content: center;
  z-index: 4;
  position: relative;
  background-color: #fafafa;
}
button {
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}
.button--confirm {
  border-color: #4CAF50!important;
  background-color: #4CAF50!important;
}
.button--confirm--transparent {
  border-color: #4CAF50!important;
  background-color: transparent!important;
}
.button--confirm--transparent:hover,
.button--confirm--transparent:active, 
.button--confirm--transparent:focus {
  color: #4CAF50!important;
}
.warning--span {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  margin-left: 5px;
  font-weight: bold;
  color: #F44336;
}
.bold {
  font-family: nunito-bold;
}
h2 {
  font-family: Oswald-Medium;
}
.title {
  font-family: Oswald-Medium;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
select:focus {
  outline: none;
}
.title--big {
  font-size: 50px;
  text-align: center;
}
.tablet {
  display: none;
}
.section {
  padding: 25px 0;
}
.section--title {
  font-size: 2.5em;
  line-height: 1em;
  font-family: Oswald-Medium;
  color: #212121;
  padding-bottom: 10px;
  border-bottom: 2px solid #00fa00;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 0 0 0;
  display: inline-flex;
  justify-content: flex-start;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all 0.5s ease;
}
.cta--title {
  position: absolute;
  font-size: 14px;
  font-family: nunito;
  line-height: initial;
  padding: 5px;
  background: #212121;
  color: #fafafa;
  letter-spacing: 1.5px;
}
.contained {
  padding-left: 15px;
  padding-right: 15px;
}
.features__container {
  margin: 10px 0;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background: #fafafa;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #00fa00, #212121) 1 0 0 0;
}
.features__container .feature--content {
  display: flex;
  padding: 20px 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.features__container .feature--content:not(:last-child) {
  border-right: 2px solid #eee;
}
.features__container .feature--content img {
  width: 35px;
  object-fit: contain;
  filter: invert(60%) sepia(42%) saturate(6762%) hue-rotate(86deg)
    brightness(123%) contrast(120%);
}
.custom--scroll::-webkit-scrollbar {
  width: 5px;
}
.custom--scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c3c3c3;
  border-radius: 10px;
}
.custom--scroll.cart::-webkit-scrollbar-thumb {
  background: #212121;
} 
.custom--scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
}
button.mercadopago-button{
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: 46px;
  padding: 0 15px;
  color: #212121;
}
button.mercadopago-button::after,
button.mercadopago-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
button.mercadopago-button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #212121;
  border-right-color: #212121;
}
button.mercadopago-button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #212121;
  border-left-color: #212121;
}
button.mercadopago-button:hover:after,
button.mercadopago-button:hover:before {
  border-bottom-color: #212121;
  border-right-color: #212121;
  border-top-color: #212121;
  border-left-color: #212121;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .section--title {
    font-size: 2em;
  }
  .content--app {
    margin-top: 67px;
  }
  .app--container {
    padding-top: 0;
    min-height: calc(100vh - 103px);
  }
  .tablet {
    display: flex;
  }
  .desktop {
    display: none !important;
  }
  .features__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .features__container .feature--content:not(:last-child) {
    border-right: 0;
    border-bottom: 2px solid #eee;
  }
}
@media screen and (max-width: 495px) {
  .app--container {
    padding-top: 25px;
    min-height: calc(100vh - 120px);
  }
  .content--app {
    margin-bottom: 415px;
  }
}
@media screen and (max-width: 320px) {
  .content--app {
    margin-bottom: 460px;
  }
}
