/* GENERAL SETTINGS */
#getpunkrock_backoffice_container .btn{
    border-radius: 0!important;
    cursor: pointer;
}
#getpunkrock_backoffice_container .btn_confirm{
    background-color: #00fb00;
    color: #000000!important;
}
#getpunkrock_backoffice_container .btn_confirm:hover{
    background-color: transparent;
    color: #00fb00!important;
    border: 1px solid #00fb00!important;
}
#getpunkrock_backoffice_container .btn_cancel{
    background-color: #ffffff;
    color: #212121!important;
}
#getpunkrock_backoffice_container .btn_cancel:hover{
    background-color: transparent;
    color: #ffffff!important;
    border: 1px solid #ffffff!important;
}
#getpunkrock_backoffice_container ol.breadcrumb{
    background-color: #212121;
    border-radius: 0;
}
#getpunkrock_backoffice_container ol.breadcrumb li.active{
    color: #ffffff;
}
#getpunkrock_backoffice_container ol.breadcrumb li:not(.active) a{
    color: #00fb00!important;
}
/* END GENERAL SETTINGS */
/* LOGIN AND LOGIN */
#getpunkrock_login_container{
    background-color: #212121;
}
#getpunkrock_login_container .container{
    display: flex;
    height: 100vh;
}
#getpunkrock_login_container .custom_card{
    align-self: center;
    padding: 0;
    margin-top: 0px!important;
}
.custom_card, .custom_card > .card-header{
    background: transparent;
    border: none;
}
#getpunkrock_login_container .card-body{
    position: relative;
    padding: 0px;
}
#getpunkrock_login_container input{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #00fc00;
    border-radius: 0px;
}
#getpunkrock_login_container input:focus{
    box-shadow: none;
}
#getpunkrock_login_container input,
#getpunkrock_login_container label{
    color: white;
}
#getpunkrock_login_container a.custom_btn{
    border: 1px solid #00fc00;
    border-radius: 0px;
    background-color: #00fc00;
    color: #000!important;
}
#getpunkrock_login_container a.custom_btn:hover{
    cursor: pointer;
    background-color: transparent;
    color: white!important;
}
#getpunkrock_login_container .alert{
    position: absolute;
    color: #e80013;
    margin-top: 10px;
    border-radius: 0;
    background-color: #ffffff;
    border-color: #ffffff;
}
/* END LOGIN AND LOGIN */
/* NAVBAR */
#getpunkrock_backoffice_container .custom_navbar{
    color: #ffffff;
    background-color: #212121;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
#getpunkrock_backoffice_container .navbar_logo{
    top: 10px;
    position: absolute;
    left: 25px;
}
#getpunkrock_backoffice_container .navbar_logo img{
    cursor: pointer;
    height: 70px;
}
#getpunkrock_backoffice_container .custom_navbar ul li a{
    color: #ffffff;
}
#getpunkrock_backoffice_container .custom_navbar ul li a:hover{
    color: #ffffff;
    text-decoration: underline;
}
#getpunkrock_backoffice_container .dropdown-menu{
    border-radius: 0;
    border: 1px solid #212121!important;
}
#getpunkrock_backoffice_container .dropdown-menu a{
    color: #212121!important;
}
#getpunkrock_backoffice_container .dropdown-menu a:hover{
    color: #212121;
    text-decoration: underline;
    background-color: transparent;
}
/* END NAVBAR */
/* MODAL */
#getpunkrock_backoffice_container .modal-dialog{
    margin-top: 5rem;
}
#getpunkrock_backoffice_container .modal-content{
    background-color: #212121;
    box-shadow: 0px 0px 10px 1px #ffffff69;
    border: none;
    border-radius: 0;
}
#getpunkrock_backoffice_container .modal-content .modal-header{
    border: none;
    padding: 16px 16px 5px 16px;
}
#getpunkrock_backoffice_container .modal-content .modal-header,
#getpunkrock_backoffice_container .modal-content .modal-body{
    color: #ffffff;
}
#getpunkrock_backoffice_container .modal-content .modal-footer{
    border: none;
    padding: 0 10px 10px;
}
#getpunkrock_backoffice_container button.close span{
    color: #ffffff!important;
}
/* END MODAL */
/* SIDEBAR */
#getpunkrock_backoffice_container #wrapper ul{
    padding-top: 40px;
}
#getpunkrock_backoffice_container #wrapper ul li:hover a{
    color: #ffffff;
}
#getpunkrock_backoffice_container #wrapper ul li:hover a span{
    color: #ffffff;
    text-decoration: underline;
}
/* END SIDEBAR */
