<template>
  <div>
    <md-dialog :md-active.sync="show">
      <md-dialog-title>Delete Brand</md-dialog-title>
      <form novalidate @submit.prevent="validateForm">

        <md-dialog-content>
          For security, you must rewrite this brand {{ deleteBrand.name }} in the input bellow
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('brandName')">
                <label for="brand-name">Name</label>
                <md-input name="brand-name" id="brand-name" autocomplete="brand" v-model="form.brandName" :disabled="deleting" />
                <span class="md-error" v-if="!$v.form.brandName.required">The brand name is required</span>
                <span class="md-error" v-else-if="!$v.form.brandName.minlength">Invalid brand name, must have at least 3 characters</span>
              </md-field>
              <span class="gpr-equal-error" v-if="equalBrands == false">The brands must be equals</span>
            </div>
          </div>
          </md-dialog-content>

        <md-progress-bar md-mode="indeterminate" v-if="deleting" />

        <md-dialog-actions>
          <md-button class="md-primary" @click="cancelClickHandler()">Cancel</md-button>
          <md-button class="md-primary gpr-custom-success" type="submit">Delete</md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>

    <md-snackbar :md-active.sync="brandRemoved" md-position="left">
      The brand {{ brandRemovedName }} was removed successfully!
    </md-snackbar>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength } from 'vuelidate/lib/validators'

  export default {
    name: 'DeleteBrand',
    props: {
      show: false,
      deleteBrand: {}
    },
    mixins: [validationMixin],
    data: () => ({
      brandRemoved: false,
      equalBrands: null,
      brandRemovedName: '',
      deleting: false,
      form: {
        brandName: null
      }
    }),
    validations: {
      form: {
        brandName: {
          required,
          minLength: minLength(3)
        }
      }
    },
    methods: {
      cancelClickHandler(e){
        this.$emit("cancel")
      },
      getValidationClass(fieldName) {
        const field = this.$v.form[fieldName]
        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm() {
        this.$v.$reset()
        this.form.brandName = null
      },
      serializeForm() {
        return {
          name: this.form.brandName
        }
      },
      refreshBrands(){
        this.$emit("refresh")
      },
      async validateForm(){
        this.$v.$touch()
        if(!this.$v.$invalid){
          if(this.form.brandName === this.deleteBrand.name){
            this.equalBrands = true
            this.deleting = true
            this.$axios.delete(
              `${process.env.NUXT_ENV_ENDPOINT_BRANDS}${this.deleteBrand.id}/`, 
              {
                headers: { 'Content-Type': 'application/json'
              }
            }).then(res => {
              this.refreshBrands()
              this.cancelClickHandler()
              this.deleting = false
              this.brandRemoved = true
              this.brandRemovedName = this.form.brandName
              this.clearForm()
            }).catch(err => { 
              if(err.response.status === 401)
                alert(`401, session expired. Relog again!`)
              throw(err) 
            })
          } else {
            this.equalBrands = false
          }
        }
      },
    }
  }
</script>
<style scoped>
  .gpr-equal-error{ 
    font-size: 12px;
    color: var(--md-theme-default-fieldvariant, #ff1744);
  }
</style>