<template>
  <div>
    <md-dialog :md-active.sync="show">
      <md-dialog-title>Edit Brand</md-dialog-title>
      <form novalidate @submit.prevent="validateForm">

        <md-dialog-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('brandName')">
                <label for="brand-name">Name</label>
                <md-input name="brand-name" id="brand-name" autocomplete="brand" v-model="form.brandName" :disabled="editing" />
                <span class="md-error" v-if="!$v.form.brandName.required">The brand name is required</span>
                <span class="md-error" v-else-if="!$v.form.brandName.minlength">Invalid brand name, must have at least 3 characters</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label for="website_url">Website URL</label>
                <md-input name="website_url" id="website_url" autocomplete="website_url" v-model="form.websiteUrl" :disabled="editing" />
              </md-field>
            </div>
          </div>
        </md-dialog-content>

        <md-progress-bar md-mode="indeterminate" v-if="editing" />

        <md-dialog-actions>
          <md-button class="md-primary" @click="cancelClickHandler()">Cancel</md-button>
          <md-button class="md-primary gpr-custom-success" type="submit">Update</md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>

    <md-snackbar :md-active.sync="updatedBrand" md-position="left">
      The brand {{ updatedBrandName }} was updated successfully!
    </md-snackbar>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength } from 'vuelidate/lib/validators'

  export default {
    name: 'UpdateBrand',
    props: {
      show: false,
      updateBrand: {}
    },
    mixins: [validationMixin],
    data(){
      return {
        updatedBrand: false,
        updatedBrandName: '',
        editing: false,
        form: {
          brandName: null,
          websiteUrl: null
        }
      }
    },
    watch: {
      updateBrand(newVal) { 
        this.form.brandName = newVal.name
        this.form.websiteUrl = newVal.website_url
      }
    },
    validations: {
      form: {
        brandName: {
          required,
          minLength: minLength(3)
        }
      }
    },
    methods: {
      cancelClickHandler(e){
        this.$emit("cancel")
      },
      getValidationClass(fieldName) {
        const field = this.$v.form[fieldName]
        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm() {
        this.$v.$reset()
        this.form.brandName = null
        this.form.websiteUrl = null
      },
      serializeForm() {
        return {
          name: this.form.brandName,
          website_url: this.form.websiteUrl
        }
      },
      refreshBrands(){
        this.$emit("refresh")
      },
      async validateForm(){
        this.$v.$touch()
        if(!this.$v.$invalid){
          this.editing = true
          this.$axios.post(
            `${process.env.NUXT_ENV_ENDPOINT_BRANDS}${this.updateBrand.id}/`,
            {
              body: JSON.stringify(this.serializeForm()),
              headers: { 'Content-Type': 'application/json' }
            }
          ).then(res => {
            this.refreshBrands()
            this.cancelClickHandler()
            this.editing = false
            this.updatedBrand = true
            this.updatedBrandName = this.form.brandName
            this.clearForm()
          }).catch(err => { 
            if(err.response.status === 401)
              alert(`401, session expired. Relog again!`)
            throw(err) 
          })
        }
      },
    }
  }
</script>