<template>
  <ErrorPage 
    status_code="404"
    status="Page does not exists" 
    message="This page is not longer available or is not valid."/>
</template>

<script>
  import ErrorPage from "@/components/ErrorPage"
  export default {
    components: {
      ErrorPage
    }
  }
</script>