<template>
  <div>
    <BreadCrumb :section_title="'Admin'" :subsections="[]"/>
    <h1>Only seen by Superadmins</h1>
  </div>
</template>

<script>
  import BreadCrumb from "@/components/BreadCrumbs"
  export default {
    middleware: ['auth', 'authority'],
    components: {
      BreadCrumb
    }
  }
</script>