<template>
  <div>
    <BreadCrumb :section_title="'Brands'" :subsections="['Listing']"/>

    <md-table-toolbar>
      <md-field md-clearable >
        <md-input placeholder="Search by brand name..." v-model="search" @input="searchOnTable" />
      </md-field>
      <md-button class="gpr-custom-success" @click="dialogCreateActive = true">Create New Brand</md-button>
    </md-table-toolbar>

    <md-table v-model="searched" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
      <md-table-empty-state
        md-label="No brands found"
        :md-description="`No brand found for this '${search}' query. Try a different search term or create a new brand.`">
        <md-button class="md-primary md-raised gpr-custom-success" @click="dialogCreateActive = true">Create New Brand</md-button>
      </md-table-empty-state>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell width="150px" md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
        <md-table-cell width="100px" md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
        <md-table-cell width="250px" md-label="Website URL" md-sort-by="website_url">{{ item.website_url }}</md-table-cell>
        <md-table-cell width="80px" md-label="Actions">
          <TableEditIcon msg="Edit brand" @edit="showUpdateModal(item)"/>
          <TableRemoveIcon msg="Remove brand" @remove="showDeleteModal(item.id, item.name)"/>
        </md-table-cell>
      </md-table-row>
    </md-table>

    <CreateBrand :show="dialogCreateActive"
      @refresh="reloadBrands"
      @cancel="cancelCreate" />

    <DeleteBrand :show="dialogDeleteActive"
      :deleteBrand="deleteBrand"
      @refresh="reloadBrands"
      @cancel="cancelDelete" />

    <UpdateBrand :show="dialogUpdateActive"
      :updateBrand="updateBrand"
      @refresh="reloadBrands"
      @cancel="cancelUpdate" />

  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength } from 'vuelidate/lib/validators'

  import BreadCrumb from "@/components/BreadCrumbs"
  import CreateBrand from "@/components/modals/brands/Create"
  import DeleteBrand from "@/components/modals/brands/Delete"
  import UpdateBrand from "@/components/modals/brands/Update"

  import TableEditIcon from "@/components/TableEditIcon"
  import TableRemoveIcon from "@/components/TableRemoveIcon"

  const toLower = text => text.toString().toLowerCase()

  const searchByName = (items, term) => {
    if(term)
      return items.filter(item => toLower(item.name).includes(toLower(term)))
    return items
  }

  export default {
    components: {
      BreadCrumb,
      CreateBrand,
      DeleteBrand,
      UpdateBrand,
      TableEditIcon,
      TableRemoveIcon
    },
    data: () => ({
      search: null,
      searched: [],
      brands: [],
      deleteBrand: {
        id: '',
        name: ''
      },
      updateBrand: {
        id: '',
        name: '',
        website_url: ''
      },
      dialogCreateActive: false,
      dialogDeleteActive: false,
      dialogUpdateActive: false
    }),
    methods: {
      searchOnTable() {
        this.searched = searchByName(this.brands, this.search)
      },
      setBrands() {
        this.$axios.get(process.env.NUXT_ENV_ENDPOINT_BRANDS)
        .then(res => {
          this.brands = res.data
          this.searched = res.data
        }).catch(err => { 
          if(err.response.status === 401)
            alert(`401, session expired. Relog again!`)
          throw(err) 
        })
      },
      cancelCreate() {
        this.dialogCreateActive = false
      },
      cancelDelete() {
        this.dialogDeleteActive = false
      },
      showDeleteModal(id, name){
        this.dialogDeleteActive = true
        this.deleteBrand = {
          "name": name, "id": id
        }
      },
      cancelUpdate() {
        this.dialogUpdateActive = false
      },
      showUpdateModal(brand){
        this.dialogUpdateActive = true
        this.updateBrand = brand
      },
      reloadBrands(){
        this.setBrands()
      }
    },
    mounted() {
      this.setBrands()
    }
  }
</script>

<style lang="scss" scope>
  .md-toolbar {
    flex-flow: row;

    .md-field {
      flex-grow: 1;
      width: auto;
    }
  }
  .md-content {
    &.md-table-content {
      max-height: calc(100vh - 307px)!important;
    }
  }
</style>