<template>
  <div>
    <BreadCrumb :section_title="'Dashboard'" :subsections="[]"/>

    <v-card class="hidden-product-container">
      <v-img
        :src="hidden_image"
        class="white--text align-end"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        height="400px"
      />

      <v-card-title>
        <span>Hidden Product</span>
        <div class="hidden-button-container">
          <v-btn type="file" class="gpr-custom-success" elevation="2">
            Upload new
            <v-icon right dark>
              mdi-cloud-upload
            </v-icon>
            
          </v-btn>
          <input type="file" v-on:change="uploadImage($event)">
        </div>
      </v-card-title>
    </v-card>

    <v-snackbar absolute left bottom :value="hiddenImageSnackbar" class="snackbar-fixed">
      The hidden imagen is successfully upload!
    </v-snackbar>
  </div>
</template>

<script>
  import BreadCrumb from "@/components/BreadCrumbs"
  export default {
    components: {
      BreadCrumb
    },
    data() {
      return {
        hidden_image: false,
        hiddenImageSnackbar: false,
      }
    },
    methods: {
      setHiddenImage() {
      this.$axios
        .get(process.env.NUXT_ENV_ENDPOINT_HIDDEN_IMAGE)
        .then((res) => {
          this.hidden_image = res.data[0].image_url;
        })
        .catch((err) => {
          if (err.response.status === 401)
            alert(`401, session expired. Relog again!`);
          throw err;
        });
      },
      uploadImage(event){
        let f =  event.target.files[0];
        if(f !== undefined){
          let imagesFormData = new FormData();
          imagesFormData.append("image_url", f);
          this.$axios
            .put(`${process.env.NUXT_ENV_ENDPOINT_HIDDEN_IMAGE}1/`, 
              imagesFormData, {
                headers: { "Content-Type": "multipart/form-data" },
              })
            .then((res) => {
              this.setHiddenImage();
              this.hiddenImageSnackbar = true;
              setTimeout(() => {
                this.hiddenImageSnackbar = false;
              }, 5000);
            })
            .catch((err) => {
              if (err.response.status === 401)
                alert(`401, session expired. Relog again!`);
              throw err;
            });
        }
      }
    },
    mounted() {
      this.setHiddenImage();
    },
  }
</script>

<style lang="scss" scoped>
  .hidden-product-container {
    margin-top: 20px;

    .v-card__title{
      display: flex;
      justify-content: space-between;
    }
    .hidden-button-container{
      position: relative;

      input{
        position: absolute;
        opacity: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        cursor: pointer;
      }
    }
  }
</style>