<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="validateForm">
      <MdCard>
        <MdCardArea>
          <MdCardMedia>
            <img src="~/assets/images/logo.png" alt="Company Logo">
          </MdCardMedia>

          <MdCardContent>
            <MdField :class="getValidationClass('username')">
              <label for="username">Username</label>
              <MdInput name="username" id="username" v-model="form.username" required></MdInput>
              <span class="md-error" v-if="!$v.form.username.required">The username must be filled</span>
              <span class="md-error" v-if="!$v.form.username.minLength">The username lenght most be at least 5</span>
            </MdField>
            <MdField :class="getValidationClass('password')">
              <label for="password">Password</label>
              <MdInput name="password" id="password" type="password" v-model="form.password" md-toggle-password required></MdInput>
              <span class="md-error" v-if="!$v.form.password.required">The password must be filled</span>
              <span class="md-error" v-if="!$v.form.password.minLength">The password lenght most be at least 8</span>
            </MdField>
          </MdCardContent>
        </MdCardArea>

        <MdCardActions md-alignment="right">
          <MdButton type="submit">Login</MdButton>
        </MdCardActions>
      </MdCard>
    </form>

    <md-snackbar md-position="left" :md-active.sync="showSnackbar" md-persistent class="custom-login-snackbar">
      <span>{{ snackbarMessage}}</span>
    </md-snackbar>
  </div>
</template>

<script>
  import 'vue-material/dist/vue-material.min.css'
  import 'vue-material/dist/theme/default.css'
  import Vue from 'vue'
  import { MdCardActions, MdButton, MdCard, MdCardArea, MdCardHeader, MdCardContent, MdCardMedia, MdField, MdInput } from 'vue-material/dist/components'
  import { validationMixin } from 'vuelidate'
  import { required, minLength } from 'vuelidate/lib/validators'
  
  Vue.use(MdButton)
  Vue.use(MdCard)
  Vue.use(MdField)

  export default {
    layout: 'login',
    mixins: [validationMixin],
    data: () => ({
      form: {
        username: null,
        password: null
      },
      showSnackbar: false,
      snackbarMessage: ""
    }),
    validations: {
      form: {
        username: {
          required,
          minLength: minLength(5)
        },
        password: {
          required,
          minLength: minLength(4)
        }
      }
    },
    methods: {
      getValidationClass(fieldName){
        const field = this.$v.form[fieldName]
        if(field){
          return{
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      async validateForm(){
        this.showSnackbar = false
        this.$v.$touch()
        if(!this.$v.$invalid){
          try {
            await this.$auth.loginWith('local', {
              data: this.form
            })
          } catch(error){
            this.showSnackbar = true
            this.snackbarMessage = error.response.data.detail
          }
        }
      }
    }
  }
</script>

<style lang="scss" scope>
  .md-field input:-internal-autofill-selected {
    -webkit-text-fill-color: #212121!important;
  }
  .custom-login-snackbar{
    background-color: #fafafa!important;
    color: #323232!important;
  }
  .md-card {
    box-shadow: none;
    background-color: $BLACK!important;

    .md-card-area {
      &::after {
        display: none;
      }
      .md-card-media {
        img{
          max-height: 150px;
          width: auto;
        }
      }
      .md-card-content {
        .md-field {
          &::before{
            background-color: $PRIMARY_COLOR;
          }
          &::after {
            background-color: $WHITE;
          }
          label {
            color: $WHITE;
          }
          input {
            -webkit-text-fill-color: $WHITE;
          }
          button {
            svg {
              fill: $WHITE;
            }
          }
        }
      }
    }
    .md-card-actions {
      button.md-button {
        color: $PRIMARY_COLOR!important;
        border: 1px solid $PRIMARY_COLOR;
        background-color: none!important;
        &::before {
          background-color: transparent!important;
        }
        &:hover {
          color: $BLACK!important;
          border: 1px solid $BLACK;
          background-color: $PRIMARY_COLOR!important;
        }
      }
    }
  }
</style>