<template>
  <div>
    <BreadCrumb :section_title="'Products'" :subsections="['Listing']" />

    <CreateProduct
      :visible="showCreateDialog"
      :enums="enums"
      :brands="brands"
      @refresh="reloadProducts"
      @cancel="cancelCreate"
    />

    <UpdateProduct
      :visible="showUpdateDialog"
      :product="updateProduct"
      :enums="enums"
      :brands="brands"
      @refresh="reloadProducts"
      @cancel="cancelUpdate"
    />

    <v-dialog v-model="showDeleteDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">
          Do you want to delete <strong> {{ deleteProduct.name }} </strong> product?
        </v-card-title>

        <v-card-text>
          In order to proceed with the deletion you must write the name of the 
          product in the input bellow.
          <v-text-field required label="Name" 
            class="delete-confirmation-input"
            v-model="deleteConfirmName" :counter="30"
          ></v-text-field>
          <span v-if="deleteConfirmationError" 
            class="delete-confirmation-error"
          >
            The names do not match!
          </span>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            class="grp-custom-cancel"
            elevation="2"
            @click="showDeleteDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            class="gpr-custom-success"
            elevation="2"
            @click="handleDeleteProduct"
          >
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-card class="gpr-custom-table">
      <v-card-title>
        <v-btn
          class="gpr-custom-success"
          elevation="2"
          @click.stop="showCreateDialog = true"
        >
          Create New Product
        </v-btn>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          single-line
          hide-details
          append-icon="mdi-magnify"
          label="Search"
        ></v-text-field>
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="products"
        show-expand
        :search="search"
        :single-expand="true"
        :expanded.sync="expanded"
        @item-expanded="handleMoreInfoRow"
      >
        <template v-slot:item.actions="{ item }">
          <TableEditIcon msg="Edit product"
            @edit="handleUpdateModal(item)" />
          <TableRemoveIcon msg="Remove product"
            @remove="handleDeletemodal(item)"/>
          <TableDisbleIcon msg="Disable product" 
            @enableDisable="handleEnableDisable(item)"
            v-if="!item.active"/>
          <TableEnableIcon msg="Enable product" 
            @enableDisable="handleEnableDisable(item)"
            v-if="item.active"/>
        </template>

        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <div class="images-container">
              <UploadImages :product_id="item.id" :images="item.images" :isVisible="isMoreInfoRowVisible"/>
            </div>
            <v-divider></v-divider>
            <MoreInfoRow :items="item.subProducts" :enums="enums" :product_id="item.id"
              @snackbarEmit="snackbarEmit" />
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-snackbar absolute left bottom :value="subProductSnackbar" class="snackbar-fixed">
      The sub product was {{subProductSnackbarMsg}} successfully!
    </v-snackbar>
  </div>
</template>

<script>
import BreadCrumb from "@/components/BreadCrumbs";
import CreateProduct from "@/components/modals/products/Create";
import UpdateProduct from "@/components/modals/products/Update";
import TableEditIcon from "@/components/TableEditIcon";
import TableRemoveIcon from "@/components/TableRemoveIcon";
import TableDisbleIcon from "@/components/TableDisableIcon";
import TableEnableIcon from "@/components/TableEnableIcon";
import MoreInfoRow from "@/components/MoreInfoRow";
import UploadImages from "@/components/UploadImages";

export default {
  components: {
    BreadCrumb,
    CreateProduct,
    UpdateProduct,
    TableEditIcon,
    TableRemoveIcon,
    TableDisbleIcon,
    TableEnableIcon,
    MoreInfoRow,
    UploadImages,
  },
  data() {
    return {
      isMoreInfoRowVisible: false,
      search: "",
      expanded: [],
      headers: [
        { text: "", value: "data-table-expand", sortable: false },
        { text: "Code", value: "code", align: "start" },
        { text: "Name", value: "name", align: "start" },
        { text: "Description", value: "description", align: "start" },
        { text: "Brand", value: "brandName" },
        { text: "Category", value: "categoryString" },
        { text: "Gender", value: "genderString" },
        { text: "Material", value: "materialString" },
        { text: "Color", value: "colorString" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      products: [],
      brands: [],
      enums: {},
      updateProduct: {},
      deleteProduct: {},
      deleteConfirmName: "",
      showCreateDialog: false,
      showUpdateDialog: false,
      showDeleteDialog: false,
      subProductSnackbar: false,
      subProductSnackbarMsg: "",
      deleteConfirmationError: false,
    };
  },
  methods: {
    handleMoreInfoRow() {
      this.isMoreInfoRowVisible = true
    },
    snackbarEmit(e){
      this.subProductSnackbarMsg = e
      this.subProductSnackbar = true
      setTimeout(() => {
        this.subProductSnackbar = false
      }, 6000);
    },
    preloadImage(img){
      return `${process.env.NUXT_ENV_BACKEND_ENDPOINT}${img}`
    },
    cancelCreate() {
      this.showCreateDialog = false
    },
    cancelUpdate() {
      this.showUpdateDialog = false
    },
    handleUpdateModal(product) {
      this.updateProduct = { ...product }
      this.showUpdateDialog = true
    },
    handleDeletemodal(product){
      this.deleteProduct = product
      this.showDeleteDialog = true
    },
    handleDeleteProduct(){
      if(this.deleteProduct.name === this.deleteConfirmName){
        this.deleteConfirmationError = false
        let url = process.env.NUXT_ENV_ENDPOINT_PRODUCTS
        url += `${this.deleteProduct.id}/`
        this.$axios
          .delete(url)
          .then((res) => {
            this.snackbarEmit("deleted")
            this.showDeleteDialog = false
            this.reloadProducts()
          })
          .catch((err) => {
            if (err.response.status === 401)
              alert(`401, session expired. Relog again!`);
            throw err;
          });
      } else {
        this.deleteConfirmationError = true
      }
    },
    handleEnableDisable(product){
      let url = process.env.NUXT_ENV_ENDPOINT_PRODUCTS
      url += `${product.id}/enable-disable/`
      this.$axios
        .get(url)
        .then((res) => {
          this.snackbarEmit(res.data.active ? 'enabled' : 'disabled')
          product.active = res.data.active;
        })
        .catch((err) => {
          if (err.response.status === 401)
            alert(`401, session expired. Relog again!`);
          throw err;
        });
    },
    setProducts() {
      this.$axios
        .get(process.env.NUXT_ENV_ENDPOINT_PRODUCTS)
        .then((res) => {
          this.products = res.data;
        })
        .catch((err) => {
          if (err.response.status === 401)
            alert(`401, session expired. Relog again!`);
          throw err;
        });
    },
    setEnums() {
      this.$axios
        .get(`${process.env.NUXT_ENV_ENDPOINT_PRODUCTS}get_enums`)
        .then((res) => {
          this.enums = res.data;
        })
        .catch((err) => {
          if (err.response.status === 401)
            alert(`401, session expired. Relog again!`);
          throw err;
        });
    },
    setBrands() {
      this.$axios
        .get(process.env.NUXT_ENV_ENDPOINT_BRANDS)
        .then((res) => {
          this.brands = res.data;
        })
        .catch((err) => {
          if (err.response.status === 401)
            alert(`401, session expired. Relog again!`);
          throw err;
        });
    },
    reloadProducts() {
      this.setProducts();
    },
  },
  mounted() {
    this.setProducts();
    this.setBrands();
    this.setEnums();
  },
};
</script>

<style lang="scss" scoped>
  .gpr-custom-table {
    margin-top: 20px;

    ::v-deep .v-data-table-header {
      text-align: left !important;
    }
  }

  .gpr-custom-success, 
  .grp-custom-cancel{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grp-custom-cancel{
    margin-right: 10px;
  }

  .snackbar-fixed{
    position: fixed;
  }

  .delete-confirmation-input{
    margin-top: 15px;
  }
  .delete-confirmation-error{
    color: red;
  }

  .images-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;

    img {
      width: 150px;
      object-fit: contain;
      margin: 10px;
    }
  }
</style>