<template>
  <div class="page-container md-layout-column" data-app>
    <md-toolbar class="md-primary">
      
      <md-button class="md-icon-button" @click="showNavigation=true">
        <menu-icon title="Menu"/>
      </md-button>
      <img class="company-logo-img" src="~/assets/images/logo.png" alt="Company Logo">

      <div class="md-toolbar-section-end">

        <md-menu md-size="medium" md-align-trigger>
          <md-button md-menu-trigger>
            <account-supervisor-circle-outline-icon />
            {{ this.$auth.user.email }}
          </md-button>

          <md-menu-content class="logout-menu" md-elevation-15>
            <md-menuItem class="logout-menu-item" @click="logout">
              <logout-icon />
              Logout
            </md-menuItem>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <md-drawer :md-active.sync="showNavigation" md-swipeable>
      <md-toolbar class="md-transparent" md-elavation="0">
        <span class="md-title">Menu</span>
      </md-toolbar>

      <md-list>
        
        <md-list-item to="/" @click="showNavigation=false">
          <monitor-dashboard-icon />
          <span class="md-list-item-text" >Dashboard</span>
        </md-list-item>

        <md-list-item to="/products" @click="showNavigation=false">
          <tshirt-crew-icon />
          <span class="md-list-item-text">Products</span>
        </md-list-item>

        <md-list-item to="/brands" @click="showNavigation=false">
          <tag-text-icon />
          <span class="md-list-item-text">Brands</span>
        </md-list-item>

      </md-list>
    </md-drawer>

    <md-content>
      <div class="page-content-container">
        <Nuxt />
      </div>
    </md-content>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueMaterial from 'vue-material'
  import 'vue-material/dist/vue-material.min.css'
  import 'vue-material/dist/theme/default.css'

  Vue.use(VueMaterial)

  import AccountSupervisorCircleOutlineIcon from 'vue-material-design-icons/AccountSupervisorCircleOutline.vue'
  import LogoutIcon from 'vue-material-design-icons/Logout.vue'
  import MenuIcon from 'vue-material-design-icons/Menu.vue'
  import MonitorDashboardIcon from 'vue-material-design-icons/MonitorDashboard.vue'
  import TshirtCrewIcon from 'vue-material-design-icons/TshirtCrew.vue'
  import TagTextIcon from 'vue-material-design-icons/TagText.vue'

  export default {
    middleware: 'auth',
    components: {
      AccountSupervisorCircleOutlineIcon,
      LogoutIcon,
      MenuIcon,
      MonitorDashboardIcon,
      TagTextIcon,
      TshirtCrewIcon
    },
    data: () => ({
      showNavigation: false,
      showSidepanel: false
    }),
    computed: {
      isAllowed(){
        const permissions = ['superadmin']
        return permissions.indexOf(this.$auth.user.scope) > -1
      }
    },
    methods: {
      async logout(){
        await this.$auth.logout()
        window.location.href = '/login'
      }
    }
  }
</script>

<style lang="scss" scoped>
  .page-container {
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    .md-toolbar {
      background-color: $BLACK;

      .md-title {
        color: $WHITE;
      }
      img.company-logo-img {
        max-height: 60px;
      }
      .md-toolbar-section-end {
        ::v-deep .md-button-content {
          display: flex;
          align-items: center;
        }
      }
    }

    .md-drawer {
      width: 230px;
      max-width: calc(100vw - 125px);
      background-color: $WHITE;

      .md-list {
        background-color: $WHITE;

        .md-list-item {
          a {
            &:hover {
              background-color: $PRIMARY_COLOR_OPAQUE!important;
            }
          }
        }
      }
      .md-list-item-content {
        i, span {
          color: $BLACK;
        }
      }
    }

    .md-content {
      padding: 16px;
      background-color: #00000024;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      min-height: calc(100vh - 64px);
    }
    .page-content-container{
      background-color: #fafafa;
      padding: 20px;
      flex-grow: 1;
    }
  }
</style>