<template>
  <div class="login-container">
    <Nuxt />
  </div>
</template>

<style lang="scss" scope>
  .login-container {
    background-color: $BLACK;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
</style>