<template>
  <v-row justify="center">
    <v-dialog
      v-model="visible"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <form ref="form" @submit.prevent="submit">
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="cancelClickHandler()">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Create new product</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark text type="submit"> Save </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-container fluid>
            <v-row class="grp-custom-row">
              <v-col cols="3">
                <v-text-field
                  required
                  label="Name"
                  v-model="form.name"
                  :counter="30"
                  :error-messages="nameErrors"
                  @input="$v.form.name.$touch()"
                  @blur="$v.form.name.$touch()"
                ></v-text-field>
              </v-col>

              <v-col cols="3">
                <v-text-field
                  required
                  label="Code"
                  v-model="form.code"
                  :counter="25"
                  :error-messages="codeErrors"
                  @input="$v.form.code.$touch()"
                  @blur="$v.form.code.$touch()"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row class="grp-custom-row">
              <v-col cols="6">
                <v-text-field
                  required
                  label="Description"
                  v-model="form.description"
                  :counter="50"
                  :error-messages="descriptionErrors"
                  @input="$v.form.description.$touch()"
                  @blur="$v.form.description.$touch()"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row class="grp-custom-row">
              <v-col cols="3">
                <v-autocomplete
                  required
                  label="Brand"
                  v-model="form.brand"
                  :items="brands"
                  item-text="name"
                  :error-messages="brandErrors"
                  item-value="id"
                  @change="$v.form.brand.$touch()"
                  @blur="$v.form.brand.$touch()"
                ></v-autocomplete>
              </v-col>

              <v-col cols="3">
                <v-autocomplete
                  required
                  label="Material"
                  v-model="form.material"
                  :items="enums.materials"
                  item-text="name"
                  :error-messages="materialErrors"
                  item-value="id"
                  @change="$v.form.material.$touch()"
                  @blur="$v.form.material.$touch()"
                ></v-autocomplete>
              </v-col>
            </v-row>

            <v-row class="grp-custom-row">
              <v-col cols="2">
                <v-autocomplete
                  required
                  label="Category"
                  v-model="form.category"
                  :items="enums.categories"
                  item-text="name"
                  :error-messages="categoryErrors"
                  item-value="id"
                  @change="$v.form.category.$touch()"
                  @blur="$v.form.category.$touch()"
                ></v-autocomplete>
              </v-col>

              <v-col cols="2">
                <v-autocomplete
                  required
                  label="Color"
                  v-model="form.color"
                  :items="enums.colors"
                  item-text="name"
                  :error-messages="colorErrors"
                  item-value="id"
                  @change="$v.form.color.$touch()"
                  @blur="$v.form.color.$touch()"
                ></v-autocomplete>
              </v-col>
              <v-col cols="2">
                <v-autocomplete
                  required
                  label="Gender"
                  v-model="form.gender"
                  :items="enums.genders"
                  item-text="name"
                  :error-messages="genderErrors"
                  item-value="id"
                  @change="$v.form.gender.$touch()"
                  @blur="$v.form.gender.$touch()"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
        </form>
      </v-card>
    </v-dialog>

    <v-snackbar absolute left bottom :timeout="10000" :value="productSaved">
      The product {{ productSavedName }} was saved successfully!
    </v-snackbar>
  </v-row>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  integer,
  required,
  maxLength,
  minLength,
  minValue,
} from "vuelidate/lib/validators";

export default {
  name: "CreateProduct",
  props: {
    brands: {
      type: Array,
      default: [],
    },
    enums: {},
    visible: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [validationMixin],
  data: () => ({
    productSaved: false,
    productSavedName: "",
    creating: false,
    form: {
      name: null,
      code: null,
      description: null,
      price: null,
      discount: 0,
      stock: 0,
      size: null,
      category: null,
      color: null,
      brand: null,
      material: null,
      gender: null,
    },
  }),
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      code: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(25),
      },
      description: {
        required,
        minLength: minLength(12),
        maxLength: maxLength(50),
      },
      category: { required },
      color: { required },
      material: { required },
      gender: { required },
      brand: { required },
    },
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.form.name.$dirty) return errors;
      !this.$v.form.name.minLength &&
        errors.push("Name must be at most 3 characters long");
      !this.$v.form.name.maxLength &&
        errors.push("Name must be less than 30 characters long");
      !this.$v.form.name.required && errors.push("Name is required.");
      return errors;
    },
    codeErrors() {
      const errors = [];
      if (!this.$v.form.code.$dirty) return errors;
      !this.$v.form.code.minLength &&
        errors.push("Code must be at most 4 characters long");
      !this.$v.form.code.maxLength &&
        errors.push("Code must be less than 25 characters long");
      !this.$v.form.code.required && errors.push("Code is required.");
      return errors;
    },
    descriptionErrors() {
      const errors = [];
      if (!this.$v.form.description.$dirty) return errors;
      !this.$v.form.description.minLength &&
        errors.push("Description must be at most 12 characters long");
      !this.$v.form.description.minLength &&
        errors.push("Description must be less than 50 characters long");
      !this.$v.form.description.required &&
        errors.push("Description is required.");
      return errors;
    },
    categoryErrors() {
      const errors = [];
      if (!this.$v.form.category.$dirty) return errors;
      !this.$v.form.category.required && errors.push("Category is required.");
      return errors;
    },
    colorErrors() {
      const errors = [];
      if (!this.$v.form.color.$dirty) return errors;
      !this.$v.form.color.required && errors.push("Color is required.");
      return errors;
    },
    materialErrors() {
      const errors = [];
      if (!this.$v.form.material.$dirty) return errors;
      !this.$v.form.material.required && errors.push("Material is required.");
      return errors;
    },
    genderErrors() {
      const errors = [];
      if (!this.$v.form.gender.$dirty) return errors;
      !this.$v.form.gender.required && errors.push("Gender is required.");
      return errors;
    },
    brandErrors() {
      const errors = [];
      if (!this.$v.form.brand.$dirty) return errors;
      !this.$v.form.brand.required && errors.push("Brand is required.");
      return errors;
    },
  },
  methods: {
    cancelClickHandler(e) {
      this.$emit("cancel");
    },
    clearForm() {
      this.$v.$reset();
      this.form.name = null;
      this.form.code = null;
      this.form.description = null;
      this.form.category = null;
      this.form.color = null;
      this.form.brand = null;
      this.form.material = null;
      this.form.gender = null;
    },
    serializeForm() {
      return {
        name: this.form.name,
        code: this.form.code,
        description: this.form.description,
        category: this.form.category,
        color: this.form.color,
        brand: this.form.brand,
        material: this.form.material,
        gender: this.form.gender,
      };
    },
    refreshProducts() {
      this.$emit("refresh");
    },
    submit() {
      this.creating = true;
      this.$axios
        .post(process.env.NUXT_ENV_ENDPOINT_PRODUCTS, {
          body: JSON.stringify(this.serializeForm()),
          headers: { "Content-Type": "application/json" },
        })
        .then((res) => {
          this.refreshProducts();
          this.cancelClickHandler();
          this.creating = false;
          this.productSaved = true;
          this.productSavedName = this.form.name;
          this.submitImages(res.data.id);
          this.clearForm();
        })
        .catch((err) => {
          if (err.response.status === 401)
            alert(`401, session expired. Relog again!`);
          throw err;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.grp-custom-row {
  justify-content: center;

  ::v-deep .image-container {
    width: 100%;
    height: 200px;

    ::v-deep .preview-image {
      height: 170px;
    }
  }

  ::v-deep .image-list-container {
    max-width: 100%;
  }

  ::v-deep .show-image .show-img {
    max-width: 150px !important;
    max-height: 150px !important;
  }

  ::v-deep .image-list-item {
    width: 65px;
    height: 65px;
  }

  ::v-deep .image-list-item .show-image {
    max-width: 60px !important;
    max-height: 60px !important;
  }

  ::v-deep .image-list-item .show-image img {
    max-height: 150px;
  }
}
</style>