<template>
  <v-row justify="center">
    <v-dialog
      v-model="visible"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <form ref="product" @submit.prevent="submit">
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="cancelClickHandler()">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Edit product</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark text type="submit"> Save </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-container fluid>
            <v-row class="grp-custom-row">
              <v-col cols="6">
                <vue-upload-multiple-image
                  @upload-success="uploadImageSuccess"
                  @before-remove="beforeRemove"
                  @edit-image="editImage"
                  :data-images="preloadedImages"
                  popupText="This image will be displayed as default"
                  dragText="Click to browse images"
                  dropText="Drop your file here"
                  browseText=""
                  primaryText="Default"
                  markIsPrimaryText="Set as default"
                  :maxImage="10"
                ></vue-upload-multiple-image>
              </v-col>
            </v-row>

            <v-row class="grp-custom-row">
              <v-col cols="3">
                <v-text-field
                  required
                  label="Name"
                  v-model="product.name"
                  :counter="30"
                  :error-messages="nameErrors"
                  @input="$v.product.name.$touch()"
                  @blur="$v.product.name.$touch()"
                ></v-text-field>
              </v-col>

              <v-col cols="3">
                <v-text-field
                  required
                  label="Code"
                  v-model="product.code"
                  :counter="8"
                  :error-messages="codeErrors"
                  @input="$v.product.code.$touch()"
                  @blur="$v.product.code.$touch()"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row class="grp-custom-row">
              <v-col cols="6">
                <v-text-field
                  required
                  label="Description"
                  v-model="product.description"
                  :counter="50"
                  :error-messages="descriptionErrors"
                  @input="$v.product.description.$touch()"
                  @blur="$v.product.description.$touch()"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row class="grp-custom-row">
              <v-col cols="3">
                <v-autocomplete
                  required
                  label="Brand"
                  v-model="product.brand"
                  :items="brands"
                  item-text="name"
                  :error-messages="brandErrors"
                  item-value="id"
                  @change="$v.product.brand.$touch()"
                  @blur="$v.product.brand.$touch()"
                ></v-autocomplete>
              </v-col>

              <v-col cols="3">
                <v-autocomplete
                  required
                  label="Material"
                  v-model="product.material"
                  :items="enums.materials"
                  item-text="name"
                  :error-messages="materialErrors"
                  item-value="id"
                  @change="$v.product.material.$touch()"
                  @blur="$v.product.material.$touch()"
                ></v-autocomplete>
              </v-col>
            </v-row>

            <v-row class="grp-custom-row">
              <v-col cols="2">
                <v-autocomplete
                  required
                  label="Category"
                  v-model="product.category"
                  :items="enums.categories"
                  item-text="name"
                  :error-messages="categoryErrors"
                  item-value="id"
                  @change="$v.product.category.$touch()"
                  @blur="$v.product.category.$touch()"
                ></v-autocomplete>
              </v-col>

              <v-col cols="2">
                <v-autocomplete
                  required
                  label="Color"
                  v-model="product.color"
                  :items="enums.colors"
                  item-text="name"
                  :error-messages="colorErrors"
                  item-value="id"
                  @change="$v.product.color.$touch()"
                  @blur="$v.product.color.$touch()"
                ></v-autocomplete>
              </v-col>
              <v-col cols="2">
                <v-autocomplete
                  required
                  label="Gender"
                  v-model="product.gender"
                  :items="enums.genders"
                  item-text="name"
                  :error-messages="genderErrors"
                  item-value="id"
                  @change="$v.product.gender.$touch()"
                  @blur="$v.product.gender.$touch()"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
        </form>
      </v-card>
    </v-dialog>

    <v-snackbar absolute left bottom :timeout="10000" :value="productUpdated">
      The product {{ productUpdatedName }} was saved successfully!
    </v-snackbar>
  </v-row>
</template>

<script>
import VueUploadMultipleImage from "vue-upload-multiple-image";
import { validationMixin } from "vuelidate";
import {
  integer,
  required,
  maxLength,
  minLength,
  minValue,
} from "vuelidate/lib/validators";

export default {
  name: "UpdateProduct",
  components: {
    VueUploadMultipleImage,
  },
  props: {
    product: {},
    brands: {
      type: Array,
      default: []
    },
    enums: {},
    visible: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [validationMixin],
  data: () => ({
    productUpdated: false,
    productUpdatedName: "",
    updating: false,
    formImages: [],
    images: [],
    preloadedImages: [],
    form: {
      name: null,
      code: null,
      description: null,
      price: null,
      discount: 0,
      stock: 0,
      size: null,
      category: null,
      color: null,
      brand: null,
      material: null,
      gender: null,
    },
  }),
  validations: {
    product: {
      name: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      code: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(8),
      },
      description: {
        required,
        minLength: minLength(12),
        maxLength: maxLength(50),
      },
      category: { required },
      color: { required },
      material: { required },
      gender: { required },
      brand: { required },
    },
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.product.name.$dirty) return errors;
      !this.$v.product.name.minLength &&
        errors.push("Name must be at most 3 characters long");
      !this.$v.product.name.maxLength &&
        errors.push("Name must be less than 30 characters long");
      !this.$v.product.name.required && errors.push("Name is required.");
      return errors;
    },
    codeErrors() {
      const errors = [];
      if (!this.$v.product.code.$dirty) return errors;
      !this.$v.product.code.minLength &&
        errors.push("Code must be at most 4 characters long");
      !this.$v.product.code.maxLength &&
        errors.push("Code must be less than 8 characters long");
      !this.$v.product.code.required && errors.push("Code is required.");
      return errors;
    },
    descriptionErrors() {
      const errors = [];
      if (!this.$v.product.description.$dirty) return errors;
      !this.$v.product.description.minLength &&
        errors.push("Description must be at most 12 characters long");
      !this.$v.product.description.minLength &&
        errors.push("Description must be less than 50 characters long");
      !this.$v.product.description.required &&
        errors.push("Description is required.");
      return errors;
    },
    categoryErrors() {
      const errors = [];
      if (!this.$v.product.category.$dirty) return errors;
      !this.$v.product.category.required &&
        errors.push("Category is required.");
      return errors;
    },
    colorErrors() {
      const errors = [];
      if (!this.$v.product.color.$dirty) return errors;
      !this.$v.product.color.required && errors.push("Color is required.");
      return errors;
    },
    materialErrors() {
      const errors = [];
      if (!this.$v.product.material.$dirty) return errors;
      !this.$v.product.material.required &&
        errors.push("Material is required.");
      return errors;
    },
    genderErrors() {
      const errors = [];
      if (!this.$v.product.gender.$dirty) return errors;
      !this.$v.product.gender.required && errors.push("Gender is required.");
      return errors;
    },
    brandErrors() {
      const errors = [];
      if (!this.$v.product.brand.$dirty) return errors;
      !this.$v.product.brand.required && errors.push("Brand is required.");
      return errors;
    },
  },
  watch: {
    visible: function (newVal, oldVal) {
      if (newVal) {
        this.preloadedImages = []
        this.product.images.map((image, idx) => {
          this.preloadedImages.push({
            path: `${process.env.NUXT_ENV_BACKEND_ENDPOINT}${image.image_url}`,
            default: idx === 0 ? 1 : 0,
            highlight: 1,
          })
        })
      }
    },
  },
  methods: {
    searchKey(arr, index) {
      arr.map((item) => {
        if (item.name === this.product[index]) this.product[index] = item.id;
      });
    },
    cancelClickHandler(e) {
      this.$emit("cancel");
    },
    clearForm() {
      this.$v.$reset();
      this.product.name = null;
      this.product.code = null;
      this.product.description = null;
      this.product.price = null;
      this.product.discount = null;
      this.product.stoc = null;
      this.product.size = null;
      this.product.category = null;
      this.product.color = null;
      this.product.brand = null;
      this.product.material = null;
      this.product.gender = null;
    },
    serializeForm() {
      return {
        id: this.product.id,
        name: this.product.name,
        code: this.product.code,
        description: this.product.description,
        price: this.product.price,
        discount: this.product.discount,
        stock: this.product.stock,
        size: this.product.size,
        category: this.product.category,
        color: this.product.color,
        brand: this.product.brand,
        material: this.product.material,
        gender: this.product.gender,
      };
    },
    refreshProducts() {
      this.$emit("refresh");
    },
    submit() {
      this.updating = true;
      let url = process.env.NUXT_ENV_ENDPOINT_PRODUCTS
      url += `${this.product.id}/`
      this.$axios
        .put(url, {
          body: JSON.stringify(this.serializeForm()),
          headers: { "Content-Type": "application/json" },
        })
        .then((res) => {
          this.refreshProducts();
          this.cancelClickHandler();
          this.updating = false;
          this.productUpdated = true;
          this.productUpdatedName = this.form.name;
          this.clearForm();
        })
        .catch((err) => {
          if (err.response.status === 401)
            alert(`401, session expired. Relog again!`);
          throw err;
        });
    },
    uploadImageSuccess(formData, index, fileList) {
      this.images.push(formData.get("file"));
      this.$axios
        .post(
          `${process.env.NUXT_ENV_ENDPOINT_IMAGES}3f181107-d009-4598-92f7-a040ce2a6042/`,
          formData,
          { headers: { "Content-Type": "multipart/form-data" } }
        )
        .then((res) => {
          console.log(res);
        })
        .catch((err) => {
          console.error(err);
        });
    },
    beforeRemove(index, done, fileList) {
      var r = confirm("remove image");
      if (r == true) {
        done();
      }
    },
    editImage(formData, index, fileList) {
      console.log("edit successful");
    },
  },
};
</script>

<style lang="scss" scoped>
.grp-custom-row {
  justify-content: center;

  ::v-deep .image-container {
    width: 100%;
    height: 200px;

    ::v-deep .preview-image {
      height: 170px;
    }
  }

  ::v-deep .image-list-container {
    max-width: 100%;
  }

  ::v-deep .show-image .show-img {
    max-width: 150px !important;
    max-height: 150px !important;
  }

  ::v-deep .image-list-item {
    width: 65px;
    height: 65px;
  }

  ::v-deep .image-list-item .show-image {
    max-width: 60px !important;
    max-height: 60px !important;
  }

  ::v-deep .image-list-item .show-image img {
    max-height: 150px;
  }
}
</style>