{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'backoffice/css/404.css' %}" rel="stylesheet">
  <title>Xouba's - 404 Error</title>

</head>

<body id="page-top">

  <div class="cont_principal">
    <div class="cont_error">
      
    <h1>Lo sentimos.</h1>  
      <p>La página que estás buscando, no se encuentra o no está disponible.</p>
      </div>
    <div class="cont_aura_1"></div>
    <div class="cont_aura_2"></div>
  </div>

</body>
<script type="text/javascript">
  window.onload = function(){
    document.querySelector('.cont_principal').className= "cont_principal cont_error_active";  
  }
</script>
</html>
