{% load static %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'backoffice/jquery/jquery.min.js' %}"></script>
<script src="{% static 'backoffice/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'backoffice/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static 'backoffice/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'backoffice/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'backoffice/datatables/dataTables.bootstrap4.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'backoffice/js/sb-admin.min.js' %}"></script>

<!-- Demo scripts for this page-->
<script src="{% static 'backoffice/js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'backoffice/js/demo/chart-area-demo.js' %}"></script>

<!-- Import Axios lib -->
<script src="{% static 'backoffice/js/axios.min.js' %}"></script>

<!-- Activate Vue JS lib -->
<script src="{% static 'backoffice/js/vue.js' %}"></script>
<script src="{% static 'backoffice/js/top-menu.js' %}"></script>
<script src="{% static 'backoffice/js/menu.js' %}"></script>