{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="csrf_token" content="{{ csrf_token }}">

  <link rel="icon" href="{% static 'backoffice/img/icon.ico' %}" />

  <title>GetPunkRock</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'backoffice/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'backoffice/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'backoffice/css/sb-admin.css' %}" rel="stylesheet">
  <!-- GetPunkRock custom slytes -->
  <link href="{% static 'backoffice/css/style.css' %}" rel="stylesheet" type="text/css">

</head>