{% load static %}
<nav id="top-menu" class="navbar navbar-expand navbar-dark static-top custom_navbar">

  <div class="navbar_logo">
      <img src="{% static 'backoffice/img/logo.png' %}" alt="GetPunkRock Logo">
  </div>

  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hello! Admin<i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
      </div>
    </li>
  </ul>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Out</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to leave?</div>
        <div class="modal-footer">
          <button class="btn btn_cancel" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn_confirm" v-on:click="logout()">Confirm</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Logout Modal-->
</nav>
