<!-- Sidebar -->
<div id="menu">
  <ul class="sidebar navbar-nav">
    <li v-for="option in options" v-bind:class="['nav-item', {active: option.active}]">
      <a class="nav-link" v-bind:href="option.url">
        <i  v-bind:class="['fas', 'fa-fw', option.icon]"></i>
        <span>[[ option.title ]]</span>
      </a>
    </li>
  </ul>
</div>