{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'backoffice/_header.html' %}
  <body id="getpunkrock_backoffice_container">  
    {% include 'backoffice/_navbar.html' %}
    <div id="wrapper">
      {% include 'backoffice/_sidebar.html' %}
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Inicio</li>
          </ol>
      
          <div>
            <h1>GetPunkRock</h1>
          </div>
      
        </div><!-- end container-fluid -->
      </div><!-- end content-wrapper -->
    </div><!-- end wrapper -->
  </body>
  {% include 'backoffice/_footer.html' %}
</html>