{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'backoffice/_header.html' %}
  <body id="getpunkrock_backoffice_container">
    {% include 'backoffice/_navbar.html' %}
    <div id="wrapper">
      {% include 'backoffice/_sidebar.html' %}
      <input type="hidden" id="user_id" value="{{ user_id }}">
    
      <div id="courses_list">
        <div id="content-wrapper">

          <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">[[ section_name ]]</a>
              </li>
              <li class="breadcrumb-item active">Listado</li>
            </ol>

            <div id="alertSection" v-bind:class="['alert', 'alert-dismissible', 'd-none', alert.type]" role="alert">
              <strong>[[ alert.title ]]</strong> [[ alert.message ]]
            </div>

            <!-- DataTables Example -->
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                [[ section_name ]]
                <span v-on:click="openCreateModal()">
                  <i class="fas fa-plus-square"></i> Nuevo
                </span>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Precio</th>
                        <th>Fecha inicio</th>
                        <th>Duración</th>
                        <th colspan="3">Acciones</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Precio</th>
                        <th>Fecha inicio</th>
                        <th>Duración</th>
                        <th colspan="3">Acciones</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr v-for="course in courses">
                        <td>[[ course.id ]]</td>
                        <td>[[ course.title ]]</td>
                        <td>[[ course.price ]]</td>
                        <td>[[ course.date ]] [[ course.time]]</td>
                        <td>[[ course.duration ]]</td>
                        <td class="actions-container" >
                          <i v-bind:class="['fas', 'fa-edit', enableEditDelete(course.deleted_at, 'yellow')]"
                            data-toggle="tooltip" data-placement="top" title="Editar taller"
                            v-on:click="openEditModal(course.id, $event)"
                            :data-disabled="setDisable(course.deleted_at, 'yellow')"></i>
                        </td>
                        <td class="actions-container">
                          <i v-bind:class="['fas', 'fa-trash-alt', enableEditDelete(course.deleted_at, 'red')]"
                            data-toggle="tooltip" data-placement="top" title="Borrar taller"
                            v-on:click="openDeleteModal(course.title, course.id, $event)"
                            :data-disabled="setDisable(course.deleted_at, 'red')"></i>
                        </td>
                        <td class="actions-container" >
                          <i v-bind:class="['fas', 'fa-undo-alt', enableRestore(course.deleted_at)]" 
                            data-toggle="tooltip" data-placement="top" 
                            title="Restaurar taller"
                            v-on:click="openRestoreModal(course.title, course.id, $event)"
                            :data-disabled="setDisable(course.deleted_at, 'green')"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- /.content-wrapper -->

        <!-- Delete Modal-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="fas fa-exclamation-triangle yellow"></i> Deshabilitar
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Esta seguro que desea deshabilitar el siguiente taller <strong>[[ delete_course.title ]]</strong>?
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" v-on:click="deleteCourse(delete_course.id)">Deshabilitar</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Modal-->
        
        <!-- Restore Modal-->
        <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="fas fa-exclamation-triangle yellow"></i> Restaurar
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Esta seguro que desea habilitar el siguiente taller <strong>[[ restore_course.title ]]</strong>?
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" v-on:click="restoreCourse()">Restaurar</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Modal-->

        <!-- Modify Modal-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-edit green"></i> Modificar
                  </h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">

                  <form>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Imagen</label>
                      <div class="col-sm-5 custom-file">
                        <input type="file" id="courseImageFile" ref="file" accept="image/*"
                          class="custom-file-input" v-on:change="reloadThumbnail($event)"/>
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                        <span id="selectedImageName"></span>
                      </div>
                      <div class="col-sm-4" id="previewImageContainer">
                        <div id="coursePreviewImage"></div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Título</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="edit_course.title">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Precio</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="edit_course.price">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Descuento</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="edit_course.discount">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Profesor</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="edit_course.teacher">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Fecha inicio</label>
                      <div class="col-sm-6">
                        <input type="date" class="form-control" v-model="edit_course.date">
                      </div>
                      <div class="col-sm-4">
                          <input type="time" class="form-control" v-model="edit_course.time">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Localización</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="edit_course.location">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Descripción</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="2"  id="courseDescriptionTextArea">[[edit_course.description]]</textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Contenido</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="courseContentTextArea" rows="4"></textarea>
                      </div>
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                  <a class="btn btn-success" v-on:click="editCourse()">Modificar</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Modify Modal-->

          <!-- Create Modal-->
          <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-plus green"></i> Crear
                  </h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">

                  <form>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Imagen</label>
                      <div class="col-sm-5 custom-file">
                        <input type="file" id="createCourseImageFile" ref="file" accept="image/*"
                          class="custom-file-input" v-on:change="createReloadThumbnail($event)"/>
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                        <span id="createSelectedImageName"></span>
                      </div>
                      <div class="col-sm-4" id="createPreviewImageContainer">
                        <div id="createCoursePreviewImage"></div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Título</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="create_course.title">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Precio</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="create_course.price">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Descuento</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="create_course.discount">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Profesor</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="create_course.teacher">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Fecha inicio</label>
                      <div class="col-sm-6">
                        <input type="date" class="form-control" v-model="create_course.date">
                      </div>
                      <div class="col-sm-4">
                          <input type="time" class="form-control" v-model="create_course.time">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Localización</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="create_course.location">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Descripción</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="2"  id="createCourseDescriptionTextArea"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Contenido</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="createCourseContentTextArea" rows="4"></textarea>
                      </div>
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                  <a class="btn btn-success" v-on:click="createCourse()">Crear</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Create Modal-->

      </div>
    </div>
      <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/backoffice/login">Logout</a>
          </div>
        </div>
      </div>
    </div>

  {% include 'backoffice/_footer.html' %}
  <script src="{% static 'backoffice/js/courses/list.js' %}"></script>

  </body>

</html>
