{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'backoffice/_header.html' %}
  <body id="getpunkrock_backoffice_container">
    {% include 'backoffice/_navbar.html' %}
    <div id="wrapper">
      {% include 'backoffice/_sidebar.html' %}
      <input type="hidden" id="user_id" value="{{ user_id }}">
    
      <div id="brands_list">
        <div id="content-wrapper">

          <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">[[ section_name ]]</a>
              </li>
              <li class="breadcrumb-item active">List</li>
            </ol>

            <div id="alertSection" v-bind:class="['alert', 'alert-dismissible', 'd-none', alert.type]" role="alert">
              <strong>[[ alert.title ]]</strong> [[ alert.message ]]
            </div>

            <!-- DataTables Example -->
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                [[ section_name ]]
                <span v-on:click="openCreateModal()">
                  <i class="fas fa-plus-square"></i> Nuevo
                </span>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Website</th>
                        <th colspan="3">Actions</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Website</th>
                        <th colspan="3">Actions</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr v-for="brand in brands">
                        <td>#</td>
                        <td>[[ brand.id ]]</td>
                        <td>[[ brand.name ]]</td>
                        <td>[[ brand.website_url ]]</td>
                        <td class="actions-container" >
                          <i v-bind:class="['fas', 'fa-edit', enableEditDelete(brand.deleted_at, 'yellow')]"
                            data-toggle="tooltip" data-placement="top" title="Edit brand"
                            v-on:click="openEditModal(brand.id, $event)"
                            :data-disabled="setDisable(brand.deleted_at, 'yellow')"></i>
                        </td>
                        <td class="actions-container">
                          <i v-bind:class="['fas', 'fa-trash-alt', enableEditDelete(brand.deleted_at, 'red')]"
                            data-toggle="tooltip" data-placement="top" title="Disable brand"
                            v-on:click="openDeleteModal(brand.name, brand.id, $event)"
                            :data-disabled="setDisable(brand.deleted_at, 'red')"></i>
                        </td>
                        <td class="actions-container" >
                          <i v-bind:class="['fas', 'fa-undo-alt', enableRestore(brand.deleted_at)]" 
                            data-toggle="tooltip" data-placement="top" 
                            title="Enable brand"
                            v-on:click="openRestoreModal(brand.title, brand.id, $event)"
                            :data-disabled="setDisable(brand.deleted_at, 'green')"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- /.content-wrapper -->

        <!-- Delete Modal-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="fas fa-exclamation-triangle yellow"></i> Deshabilitar
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to disable the bran <strong>[[ delete_brand.name ]]</strong>?
              </div>
              <div class="modal-footer">
                <button class="btn btn_cancel" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn_confirm" v-on:click="deleteBrand(delete_brand.id)">Confirm</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Modal-->
        
        <!-- Restore Modal-->
        <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="fas fa-exclamation-triangle yellow"></i> Enable
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to enable the brand <strong>[[ restore_brand.title ]]</strong>?
              </div>
              <div class="modal-footer">
                <button class="btn btn_cancel" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn_confirm" v-on:click="restoreBrand()">Confirm</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Modal-->

        <!-- Modify Modal-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-edit green"></i> Edit
                  </h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">

                  <form>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="edit_brand.name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">website_url</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="edit_brand.website_url">
                      </div>
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button class="btn btn_cancel" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn_confirm" v-on:click="editBrand()">Confirm</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Modify Modal-->

          <!-- Create Modal-->
          <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-plus green"></i> Create
                  </h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">

                  <form>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="create_brand.name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">website_url</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="create_brand.website_url">
                      </div>
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button class="btn btn_cancel" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn_confirm" v-on:click="createBrand()">Confirm</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Create Modal-->

      </div>
    </div>
      <!-- /#wrapper -->

  {% include 'backoffice/_footer.html' %}
  <script src="{% static 'backoffice/js/brands/list.js' %}"></script>

  </body>

</html>
