{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{% static 'backoffice/img/icon.ico' %}" />

  <title>GetPunkRock</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'backoffice/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'backoffice/css/sb-admin.css' %}" rel="stylesheet" type="text/css">
  <!-- GetPunkRock custom slytes -->
  <link href="{% static 'backoffice/css/style.css' %}" rel="stylesheet" type="text/css">

</head>

<body id="getpunkrock_login_container">
  
  <div class="container" id="login">
    <div class="card card-login mx-auto mt-5 custom_card">
      <div class="card-header">
        <img src="{% static 'backoffice/img/logo.png' %}" alt="GetPunkRock Logo">
      </div>
      <div class="card-body">
        <form v-on:keyup.enter="onEnter">
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" 
                required="required" autofocus="autofocus" v-model="credentials.email">
              <label for="inputEmail">Nombre de usuario</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" 
                required="required"  v-model="credentials.password">
              <label for="inputPassword">Contraseña</label>
            </div>
          </div>
          <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
          <a class="btn btn-primary btn-block custom_btn" v-on:click="attemptLogin()">Iniciar Sesión</a>
        </form>
        <div id="alertSection" v-bind:class="['alert', 'alert-dismissible', 'd-none', alert.type]" role="alert">
          <strong>¡Error!</strong> Las credenciales usadas son erroneas.
        </div>
      </div>
    </div>
    
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'backoffice/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'backoffice/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'backoffice/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Import Axios lib -->
  <script src="{% static 'backoffice/js/axios.min.js' %}"></script>

  <!-- Activate Vue JS lib -->
  <script src="{% static 'backoffice/js/vue.js' %}"></script>
  <script src="{% static 'backoffice/js/login.js' %}"></script>

</body>

</html>
