<template>
  <div class="breadcrumb">
    <span class="bread-title">{{ section_title }} </span>
    <span v-for="(section, index) in subsections" :key="index">
      / {{ section }}
    </span>
  </div>
</template>

<script>
  export default {
    props: {
      section_title: String,
      subsections: [] | null
    }
  }
</script>

<style lang="scss" scoped>
  .breadcrumb {
    padding: 15px;
    background-color: $BLACK;
    color: $WHITE;
    .bread-title {
      color: $PRIMARY_COLOR;
    }
  }
</style>