<template>
  <div>
    <v-dialog v-model="deleteDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Do you want to delete this product variant?</v-card-title>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            class="grp-custom-cancel"
            elevation="2"
            @click="deleteDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            class="gpr-custom-success"
            elevation="2"
            @click.stop="deleteItem()"
          >
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-btn
      class="gpr-custom-success"
      elevation="2"
      @click.stop="addNewItem"
      :disabled="isCreating"
    >
      Add subproduct
    </v-btn>
    <v-row v-for="(item, idx) in items" :key="idx">
      <v-col cols="3">
        <v-autocomplete required label="Size" v-model="item.size" 
          :items="enums.sizes" item-text="name" item-value="id"
        ></v-autocomplete>
      </v-col>
      <v-col cols="2">
        <!-- :error-messages="priceErrors(idx)" 
          @input="$v.items.$each[idx].price.$touch()"
          @blur="$v.items.$each[idx].price.$touch()" -->
        <v-text-field required label="Price" v-model="item.price" 
          :counter="8" 
          
        ></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-text-field required label="Discount" v-model="item.discount" 
          :counter="8"
        ></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-text-field required label="Stock" v-model="item.stock" 
          :counter="8"
        ></v-text-field>
      </v-col>
      <v-col cols="1" class="subitem-actions-container">
        <CheckBoldIcon msg="Add size product" @add="createOrUpdateItem(idx)"/>
        <TableRemoveIcon msg="Remove size product" @remove="removeDialog(idx)"/>
      </v-col>
    </v-row>
    
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { 
    integer, required, maxLength, minLength, minValue 
  } from 'vuelidate/lib/validators'
  
  import TableRemoveIcon from "@/components/TableRemoveIcon"
  import CheckBoldIcon from "@/components/TableCheckIcon"

  export default {
    name: 'MoreInfoRow',
    components: {
      TableRemoveIcon,
      CheckBoldIcon
    },
    props: {
      product_id: "",
      items: {},
      enums: {},
    },
    mixins: [validationMixin],
    data: () => ({
      isCreating: false,
      deleteDialog: false,
      deleteItemIdx: null
    }),
    validations: {
      items: {
        $each: {
          price: {
            required,
            minValue: minValue(1)
          }
        }
      }
    },
    methods: {
      addNewItem() {
        if(!this.isCreating){
          this.isCreating = true
          this.items.push({})
        }
      },
      removeDialog(idx) {
        this.deleteDialog = true
        this.deleteItemIdx = idx
      },
      serializeForm(idx){
        return {
          product: this.product_id,
          discount: this.items[idx].discount,
          price: this.items[idx].price,
          size: this.items[idx].size,
          stock: this.items[idx].stock,
        }
      },
      handleSnackbarEmit(msg){
        this.$emit("snackbarEmit", msg)
      },
      deleteItem(){
        let url = process.env.NUXT_ENV_ENDPOINT_SUBPRODUCTS
        url += `${this.items[this.deleteItemIdx].id}/`
        this.$axios.delete(url, {
          headers: { 'Content-Type': 'application/json' }
        }).then(() => {
          this.handleSnackbarEmit("deleted")
          this.deleteDialog = false
          this.items.splice(this.deleteItemIdx, 1)
        }).catch(err => { 
          if(err.response.status === 401)
            alert(`401, session expired. Relog again!`)
          throw(err) 
        })
      },
      createOrUpdateItem(idx){
        if(this.isCreating && this.items.length - 1 === idx){
          this.$axios.post(process.env.NUXT_ENV_ENDPOINT_SUBPRODUCTS, {
            body: JSON.stringify(this.serializeForm(idx)),
            headers: { 'Content-Type': 'application/json' }
          }).then(() => {
            this.isCreating = false
            this.handleSnackbarEmit("created")
          }).catch(err => { 
            if(err.response.status === 401)
              alert(`401, session expired. Relog again!`)
            throw(err) 
          })
        } else {
          this.$axios.put(`${process.env.NUXT_ENV_ENDPOINT_SUBPRODUCTS}${this.items[idx].id}/`, {
            body: JSON.stringify(this.serializeForm(idx)),
            headers: { 'Content-Type': 'application/json' }
          }).then(() => {
            this.handleSnackbarEmit("updated")
          }).catch(err => { 
            if(err.response.status === 401)
              alert(`401, session expired. Relog again!`)
            throw(err) 
          })
        }
      },
      /* VALIDATIONS */
      // priceErrors() {
      //   const errors = []
      //   if (!this.$v.items.$each.price.$dirty) return errors
      //   !this.$v.items.$each.price.minValue && errors.push('Price must be at most 1')
      //   !this.$v.items.$each.price.required && errors.push('Price is required.')
      //   return errors
      // },
      // emailErrors() {
      //   const errors = [];
      //   if (!this.$v.defaultFields.$each.Value.$dirty) return errors;
      //   !this.$v.defaultFields.$each.Value.email && errors.push('You must enter a valid email');
      //   return errors;
      // }
      /* END VALIDATIONS */
    },
  }
</script>

<style lang="scss" scoped>
  .gpr-custom-success, 
  .grp-custom-cancel{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grp-custom-cancel{
    margin-right: 10px;
  }
  .subitem-actions-container{
    display: flex;
    align-items: center;

    ::v-deep svg{
      margin-top: 10px;
    }
  }
</style>