<template>
  <span>
    <eye-off-outline-icon @click="clickHandler" class="gpr-table-disable-icon"/>
    <md-tooltip md-direction="top" class="gpr-tooltip-disable-icon">{{msg}}</md-tooltip>
  </span>
</template>

<script>
  import EyeOffOutlineIcon from 'vue-material-design-icons/EyeOffOutline.vue'

  export default {
    components: {
      EyeOffOutlineIcon
    },
    props: {
      msg: ''
    },
    methods: {
      clickHandler(e){
        this.$emit("enableDisable")
      }
    }
  }
</script>

<style lang="scss" scoped>
  .gpr-table-disable-icon {
    color: #9a9a9a;
    cursor: pointer;
    margin-right: 5px;
  }
  .gpr-tooltip-disable-icon{
    font-size: 11px;
  }
</style>