<template>
  <span>
    <check-bold-icon @click="clickHandler" class="gpr-table-check-icon"/>
    <md-tooltip md-direction="top" class="gpr-tooltip-check-icon">{{msg}}</md-tooltip>
  </span>
</template>

<script>
  import CheckBoldIcon from 'vue-material-design-icons/CheckBold.vue'

  export default {
    components: {
      CheckBoldIcon
    },
    props: {
      msg: ''
    },
    methods: {
      clickHandler(e){
        this.$emit("add")
      }
    }
  }
</script>

<style lang="scss" scoped>
  .gpr-table-check-icon {
    color: #29ab09;
    cursor: pointer;
    margin-right: 5px;
  }
  .gpr-tooltip-check-icon{
    font-size: 11px;
  }
</style>