<template>
  <span>
    <image-edit-outline-icon @click="clickHandler" class="gpr-table-edit-images-icon"/>
    <md-tooltip md-direction="top" class="gpr-tooltip-edit-icon">{{msg}}</md-tooltip>
  </span>
</template>

<script>
  import ImageEditOutlineIcon from 'vue-material-design-icons/ImageEditOutline.vue'

  export default {
    components: {
      ImageEditOutlineIcon
    },
    props: {
      msg: ''
    },
    methods: {
      clickHandler(e){
        this.$emit("editImages")
      }
    }
  }
</script>

<style lang="scss" scoped>
  .gpr-table-edit-images-icon {
    color: #29ab09;
    cursor: pointer;
    margin-right: 5px;
  }
  .gpr-tooltip-edit-icon{
    font-size: 11px;
  }
</style>