<template>
  <span>
    <eye-outline-icon @click="clickHandler" class="gpr-table-enable-icon"/>
    <md-tooltip md-direction="top" class="gpr-tooltip-enable-icon">{{msg}}</md-tooltip>
  </span>
</template>

<script>
  import EyeOutlineIcon from 'vue-material-design-icons/EyeOutline.vue'

  export default {
    components: {
      EyeOutlineIcon
    },
    props: {
      msg: ''
    },
    methods: {
      clickHandler(e){
        this.$emit("enableDisable")
      }
    }
  }
</script>

<style lang="scss" scoped>
  .gpr-table-enable-icon {
    color: #4caf50;
    cursor: pointer;
    margin-right: 5px;
  }
  .gpr-tooltip-enable-icon{
    font-size: 11px;
  }
</style>