<template>
  <span>
    <trash-can-outline-icon @click="clickHandler" class="gpr-table-remove-icon"/>
    <md-tooltip md-direction="top" class="gpr-tooltip-remove-icon">{{msg}}</md-tooltip>
  </span>
</template>

<script>
  import TrashCanOutlineIcon from 'vue-material-design-icons/TrashCanOutline.vue'

  export default {
    components: {
      TrashCanOutlineIcon
    },
    props: {
      msg: ''
    },
    methods: {
      clickHandler(e){
        this.$emit("remove")
      }
    }
  }
</script>

<style lang="scss" scoped>
  .gpr-table-remove-icon {
    color: #ca1414;
    cursor: pointer;
    margin-right: 5px;
  }
  .gpr-tooltip-remove-icon{
    font-size: 11px;
  }
</style>