<template>
  <span>
    <clipboard-edit-outline-icon @click="clickHandler" class="gpr-table-edit-icon"/>
    <md-tooltip md-direction="top" class="gpr-tooltip-edit-icon">{{msg}}</md-tooltip>
  </span>
</template>

<script>
import { stringify } from 'querystring'
  import ClipboardEditOutlineIcon from 'vue-material-design-icons/ClipboardEditOutline.vue'

  export default {
    components: {
      ClipboardEditOutlineIcon
    },
    props: {
      msg: ''
    },
    methods: {
      clickHandler(e){
        this.$emit("edit")
      }
    }
  }
</script>

<style lang="scss" scoped>
  .gpr-table-edit-icon {
    color: #ff8216;
    cursor: pointer;
    margin-right: 5px;
  }
  .gpr-tooltip-edit-icon{
    font-size: 11px;
  }
</style>