<template>
  <vue-upload-multiple-image
    @upload-success="uploadImageSuccess"
    @before-remove="beforeRemove"
    @edit-image="editImage"
    :data-images="preloadedImages"
    popupText="This image will be displayed as default"
    dragText="Click to browse images"
    dropText="Drop your file here"
    browseText=""
    primaryText="Default"
    markIsPrimaryText="Set as default"
    :maxImage="10"
  ></vue-upload-multiple-image>
</template>
<script>
import VueUploadMultipleImage from "vue-upload-multiple-image";

export default {
  name: "UploadImages",
  data() {
    return {
      preloadedImages: [],
      prevImageState: [],
    };
  },
  props: {
    isVisible: false,
    product_id: "",
    images: {
      type: Array,
      default: [],
    },
  },
  components: {
    VueUploadMultipleImage,
  },
  methods: {
    uploadImage(file, index, fileList) {
      let imagesFormData = new FormData();
      imagesFormData.append("product", this.product_id);
      imagesFormData.append(`image_url`, file);
      this.$axios
        .post(`${process.env.NUXT_ENV_ENDPOINT_IMAGES}`, imagesFormData, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          fileList[index] = { ...fileList[index], id: response.data.id };
          this.prevImageState = { ...fileList };
        });
    },
    uploadImageSuccess(formData, index, fileList) {
      this.uploadImage(formData.get("file"), index, fileList);
    },
    beforeRemove(index, done, fileList) {
      var r = confirm("remove image");
      if (r == true) {
        this.$axios
          .delete(
            `${process.env.NUXT_ENV_ENDPOINT_IMAGES}${fileList[index].id}`,
            { headers: { "Content-Type": "application/json" } }
          )
          .then((response) => {
            done();
          });
      }
    },
    editImage(formData, index, fileList) {
      this.$axios
        .delete(
          `${process.env.NUXT_ENV_ENDPOINT_IMAGES}${fileList[index].id}`,
          { headers: { "Content-Type": "application/json" } }
        )
        .then((response) => {
          this.uploadImage(formData.get("file"), index, fileList);
        });
    },
    loadImages() {
      this.preloadedImages = [];
      this.images.map((image, idx) => {
        this.preloadedImages.push({
          id: image.id,
          path: `${process.env.NUXT_ENV_BACKEND_ENDPOINT}${image.image_url}`,
          default: idx === 0 ? 1 : 0,
          highlight: idx === 0 ? 1 : 0,
        });
      });
      this.prevImageState = { ...this.preloadedImages };
    },
  },
  mounted() {
    this.loadImages();
  },
  watch: {
    product_id: function (newVal, oldVal) {
      this.loadImages();
    },
  },
};
</script>