<template>
  <ErrorPage 
    status_code="403"
    status="Forbidden" 
    message="Sorry, you don't have permissions to access this site."/>
</template>

<script>
  import ErrorPage from "@/components/ErrorPage"
  export default {
    components: {
      ErrorPage
    }
  }
</script>