<template>
  <ErrorPage 
    status_code="50x"
    status="Server Error" 
    message="Sorry, an error ocurred or we are down maintenance"/>
</template>

<script>
  import ErrorPage from "@/components/ErrorPage"
  export default {
    components: {
      ErrorPage
    }
  }
</script>